body{
    background-color: rgb(49, 151, 146) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-around;
}
#container{
    background-color: teal;
    height: 300px;
    width: 400px;
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

h1{
   
   background-color: rgb(49, 151, 146) ;
   border-radius: 10px;
   width: 350px;
   height: 100px;
   margin-left: 25px;
   margin-top: 5px;
   padding-top: 9px;
}
p{
    font-size: large;
    font-weight: bold;
}
input{
    width: 170px;
    height: 30px;
    font-size: 20px ;
}

.output{
    font-size: 30px;
    font-weight: bold;
}
 

